.curseclient
blueprints
fancymenu_data
journeymap/data
local
tacz_backup
rhino.local.properties
resourcepacks

# minecraft user files
saves
options.txt
screenshots
servers.dat
servers.dat_old
minecraftinstance.json
usercache.json
usernamecache.json
crash-reports
logs
.cache
*.log
schematics


# various config, caches, etc
emi.json
modernfix
README.*
fml.toml
embeddium-*.json
indigo-rendered.properties
DistantHorizons.toml
config/world_preview
tacz/tacz_default_gun