.curseclient
blueprints
fancymenu_data
journeymap/data
local
tacz_backup
rhino.local.properties
resourcepacks

# minecraft user files
saves
/options.txt
/screenshots
/servers.dat
/servers.dat_old
/minecraftinstance.json
/usercache.json
/usernamecache.json
/schematics
crash-reports
logs
.cache
*.log

# various config, caches, etc
emi.json
modernfix
config/**/README.*
kubejs/**/README.*
about.txt
*.tmp
fml.toml
embeddium-*.json
indigo-renderer.properties
DistantHorizons.toml
config/world_preview
tacz/tacz_default_gun
patchouli_data.json
/config/oculus.properties
/config/packetfixer.properties