.curseclient
minecraftinstance.json
usercache.json
usernamecache.json
crash-reports
logs
.cache
blueprints
fancymenu_data
journeymap/data
local
tacz_backup

rhino.local.properties

# minecraft user files
saves
options.txt
screenshots
servers.dat
servers.dat_old